@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Josefin+Sans:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

p {
  letter-spacing: 1px;
  font-family: "Bungee Inline", cursive;
}

h1  {
  font-family: "Dancing Script", cursive;
}
h3 {
  font-family: "Dancing Script", cursive;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .sm_container {
    width: 100vw;
  }
}
